@use "../abstracts/" as *;

.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.5px solid $lightergray;
    width: 275px;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 1px 0px 5px $lightergray;
    left: 0px;


    h1{
        margin: 0;
        padding: 0;
    }

    ul{
        padding: 0;
        list-style: none;
        li{
            display: flex;
            gap: 20px;
            padding: 20px 10px;
            font-size: 20px;
            cursor: pointer;
        }

        li:hover{
            background-color: $lightergray;
            border-radius: 10px;
        }

        .active{
            background: white;
            border-radius: 40px;
        }
        
    }  
    

    .profilePhoto{
        width: 25px;
        height: 25px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    
}

@media (max-width: 1200px) {
    .navText {
      display: none;
    }

    .navbar{
        width: 100px;
    }

    .navTemp{
        width: 100px;
    }
  }