
@use "../abstracts/" as *;

.suggestionsContainer{

    background-color: rgb(248, 247, 247);

    padding-top: 10px;
    width: 350px;

    .suggestProfile{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            margin: 0;
        }

        .profile{
            display: flex;
            gap: 10px;
        }
    }

}

.home_footer{
    color: $lightgray;
    .links{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        p{
            margin: 0;
        }
    }
}

.suggestion{
    margin-bottom: 1em;
}

.blue{
    color: $facebookBlue;
}