
@use "../abstracts/" as *;

.suggestionsContainer{
    position: fixed;
    right: 0;
    background-color: rgb(248, 247, 247);
    height: 100vh;
    padding-top: 10px;
    width: 350px;

}

.home_footer{
    color: $lightgray;
    .links{
        display: flex;
        flex-wrap: wrap;
    }
}