@font-face {
  font-family: "Instagram Sans";
  src: url(Instagram-Sans.ttf);
}

@font-face {
  font-family: "Instagram Headline";
  src: url(Instagram-Headline.otf);
}

body {
  font-family: "Instagram Sans";
}

h1{
    font-family: "Instagram Headline";
    font-size: 35px;
}

h2{
    font-size: 18px;
}
