@font-face {
  font-family: "Instagram Sans";
  src: url(Instagram-Sans.ttf);
}

@font-face {
  font-family: "Instagram Sans Bold";
  src: url(Instagram-Sans-Bold.ttf);
}

@font-face {
  font-family: "Instagram Sans Medium";
  src: url(Instagram-Sans-Medium.ttf);
}

@font-face {
  font-family: "Instagram Sans Light";
  src: url(Instagram-Sans-Light.ttf);
}

@font-face {
  font-family: "Instagram Headline";
  src: url(Instagram-Headline.otf);
}

body {
  font-family: "Instagram Sans";
}

h1{
    font-family: "Instagram Headline";
    font-size: 35px;
}

h2{
    font-size: 18px;
}

.bold{
  font-family: "Instagram Sans Medium"
}

.light{
  font-family: "Instagram Sans Light"
}




